@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 cta css
/*----------------------------------------*/

.error-404-title {
	line-height: 1;
	font-size: 140px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #333F4D;
}